<script>
  document.currentPlayerName = "<%= get_session(@conn, :current_player_name) %>"
</script>
<div class="map">
  <% %{walls: walls} = GenServer.call(GameTest.Engine, :state) %>
  <%= Enum.map((-1..GameTest.World.map_height()), fn row_id -> %>
    <%= Enum.map((-1..GameTest.World.map_width()), fn col_id -> %>
      <div id="cell-<%= row_id %>-<%= col_id %>"
           class="cell <%= if GameTest.World.wall_exists?(walls, col_id, row_id) do %>wall<% end %>">
      </div>
    <% end) %>
    <br />
  <% end) %>
</div>
<div class="controls">
  <button id="move-left">Left</button>
  <button id="move-down">Down</button>
  <button id="move-up">Up</button>
  <button id="move-right">Right</button>
  <br/>
  <button id="attack" class="attack">Atack</button>
</div>
